html{
    height: 100%;
    margin: 0;
}

body{
    margin: 100px auto;
    text-align: center;
}

title{
    width: auto;
    margin: auto;
    text-align: center;
}

.MONSTER{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 250px;
    height: 250px;
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.MONSTER:hover{
    animation-play-state: running;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}