html{
    height: 100%;
    margin: 0;
}

.MONSTER{
    object-position: center;
    width: 200px;
    height: 200px;
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.MONSTER:hover{
    animation-play-state: running;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}